
@import '../../../styles/01-tools/mixins';

.nueva-pagina {
    min-height: 100vh;
    background-color: var(--color-bg-main);
    padding: var(--spacing-8) var(--spacing-6);
    
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
  
    @media (min-width: 769px) {
        padding: var(--spacing-10) var(--spacing-10);
    }

    @media (max-width: 768px) {
        padding: var(--spacing-6) var(--spacing-6);
    }

    @media (max-width: 374px) {
        padding: var(--spacing-4) var(--spacing-4);
    }

    &__section{
        max-width: 800px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    &__title{
        color: var(--color-primary-darkest);
        font-family: var(--font-primary);
        font-size: clamp(1.5rem, 4vw, 2rem);
        font-weight: 700;
        font-style: italic
    }

}
