
@import '../../../styles/01-tools/mixins';

.nueva-pagina {
    min-height: 100vh;
    background-color: var(--color-test-bg);
    padding: var(--spacing-8) var(--spacing-6);
    
    display: flex;
    flex-direction: row;
    gap: var(--spacing-6);
  
    @media (min-width: 769px) {
        padding: var(--spacing-10) var(--spacing-10);
    }

    @media (max-width: 768px) {
        padding: var(--spacing-6) var(--spacing-6);
    }

    @media (max-width: 374px) {
        padding: var(--spacing-4) var(--spacing-4);
    }

    &__section{
        max-width: 800px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    
    &__header{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        
    }

    &__title{
        color: var(--color-test-hot-pink);
        font-family: var(--font-primary);
        font-size: clamp(1.5rem, 4vw, 2rem);
        font-weight: 700;
        font-style: italic
    }

    &__grid {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        gap: var(--spacing-6);
    }

    &__columna{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-6);
    }
    &__see-more{
        background-color: var(--color-test-pink);
        border-radius: 1rem;
        border-color: var(--color-test-bg);
        font-family: var(--font-secondary);
        font-size: clamp(1.5rem, 4vw, 1rem);
        font-weight: 700;
        font-style: italic;
    }
    &__columna{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-6);
    }
    
    &__section--small{
        font-size: clamp(1rem, 2vw, 0.5rem);
    }
}
