<div class="tooltip-demo">
  <div class="tooltip-demo__header">
    <h3 class="tooltip-demo__title">Interactive Tooltips</h3>
    <p class="tooltip-demo__description">
      Tooltips with mouseenter/mouseleave events
    </p>
  </div>

  <!-- Positions -->
  <div class="tooltip-demo__section">
    <h4>Tooltips by Position</h4>
    <div class="tooltip-grid">
      <!-- Top Tooltip -->
      <div class="tooltip-wrapper">
        <app-button
          variant="primary"
          (mouseenter)="showTooltip('top')"
          (mouseleave)="hideTooltip('top')"
        >
          Hover Top
        </app-button>
        <div 
          class="tooltip tooltip--top"
          [class.tooltip--visible]="tooltips['top']"
        >
          Top tooltip
        </div>
      </div>

      <!-- Right Tooltip -->
      <div class="tooltip-wrapper">
        <app-button
          variant="primary"
          (mouseenter)="showTooltip('right')"
          (mouseleave)="hideTooltip('right')"
        >
          Hover Right
        </app-button>
        <div 
          class="tooltip tooltip--right"
          [class.tooltip--visible]="tooltips['right']"
        >
          Right tooltip
        </div>
      </div>

      <!-- Bottom Tooltip -->
      <div class="tooltip-wrapper">
        <app-button
          variant="primary"
          (mouseenter)="showTooltip('bottom')"
          (mouseleave)="hideTooltip('bottom')"
        >
          Hover Bottom
        </app-button>
        <div 
          class="tooltip tooltip--bottom"
          [class.tooltip--visible]="tooltips['bottom']"
        >
          Bottom tooltip
        </div>
      </div>

      <!-- Left Tooltip -->
      <div class="tooltip-wrapper">
        <app-button
          variant="primary"
          (mouseenter)="showTooltip('left')"
          (mouseleave)="hideTooltip('left')"
        >
          Hover Left
        </app-button>
        <div 
          class="tooltip tooltip--left"
          [class.tooltip--visible]="tooltips['left']"
        >
          Left tooltip
        </div>
      </div>
    </div>
  </div>

  <!-- Tooltip Styles -->
  <div class="tooltip-demo__section">
    <h4>Tooltips with Different Styles</h4>
    <div class="tooltip-grid">
      <!-- Info Tooltip -->
      <div class="tooltip-wrapper">
        <app-button
          variant="secondary"
          (mouseenter)="showTooltip('info')"
          (mouseleave)="hideTooltip('info')"
        >
          Info
        </app-button>
        <div 
          class="tooltip tooltip--top tooltip--info"
          [class.tooltip--visible]="tooltips['info']"
        >
          Additional information about this action
        </div>
      </div>

      <!-- Warning Tooltip -->
      <div class="tooltip-wrapper">
        <app-button
          variant="secondary"
          (mouseenter)="showTooltip('warning')"
          (mouseleave)="hideTooltip('warning')"
        >
          Warning
        </app-button>
        <div 
          class="tooltip tooltip--top tooltip--warning"
          [class.tooltip--visible]="tooltips['warning']"
        >
          Warning: This action is irreversible
        </div>
      </div>

      <!-- Success Tooltip -->
      <div class="tooltip-wrapper">
        <app-button
          variant="primary"
          (mouseenter)="showTooltip('success')"
          (mouseleave)="hideTooltip('success')"
        >
          Success
        </app-button>
        <div 
          class="tooltip tooltip--top tooltip--success"
          [class.tooltip--visible]="tooltips['success']"
        >
          Operation completed successfully
        </div>
      </div>
    </div>
  </div>

  <!-- Tooltips on Elements -->
  <div class="tooltip-demo__section">
    <h4>Tooltips on UI Elements</h4>
    <div class="ui-examples">
      <!-- Icon with tooltip -->
      <div class="tooltip-wrapper">
        <div 
          class="icon-button"
          (mouseenter)="showTooltip('hover')"
          (mouseleave)="hideTooltip('hover')"
        >
          CFG
        </div>
        <div 
          class="tooltip tooltip--bottom"
          [class.tooltip--visible]="tooltips['hover']"
        >
          Settings
        </div>
      </div>

      <!-- Badge with tooltip -->
      <div class="tooltip-wrapper">
        <div 
          class="badge"
          (mouseenter)="showTooltip('badge')"
          (mouseleave)="hideTooltip('badge')"
        >
          New
        </div>
        <div 
          class="tooltip tooltip--bottom"
          [class.tooltip--visible]="tooltips['badge']"
        >
          This element is new
        </div>
      </div>

      <!-- Text with tooltip -->
      <div class="tooltip-wrapper">
        <span 
          class="text-with-tooltip"
          (mouseenter)="showTooltip('text')"
          (mouseleave)="hideTooltip('text')"
        >
          Hover over this text
        </span>
        <div 
          class="tooltip tooltip--top"
          [class.tooltip--visible]="tooltips['text']"
        >
          This is a text with explanatory tooltip
        </div>
      </div>
    </div>
  </div>

  <div class="tooltip-demo__info">
    <p>Tooltips are shown automatically on mouse hover and hidden on mouse leave</p>
  </div>
</div>
