@import '../../../../styles/01-tools/mixins';

.stat-bar {
  width: 1.5rem;
  height: 6rem;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  
  @media (min-width: 768px) {
    width: 1.75rem;
    height: 7rem;
  }
  
  &:hover {
    .stat-bar__fill {
      background-color: hsl(0, 0%, 100%);
    }
  }
  
  &__fill {
    background-color: var(--color-stats-bar);
    width: 100%;
    border-radius: 0.25rem;
    @include transition(background-color);
  }
  
  &__empty {
    flex: 1;
    background-color: transparent;
  }
}
