:root {
  //Colores
  --dark-mode-primary-color: #A264BF;
  --dark-mode-primary-color-dark: #38263B;
  --dark-mode-primary-color-light: #D885FE;

  --dark-mode-secondary-color-light: #FEFE85;
  --dark-mode-secondary-color: #BFBF64;
  --dark-mode-secondary-color-dark: #59592F;

  --text-color: #FFFDEB;

  //Tipografías
  --main-font: ;
  --main-font-small: ;
  --secondary-font: ;
  --secondary-font-small: ;

}
