<nav class="breadcrumb-container" aria-label="Breadcrumb" *ngIf="(breadcrumbs$ | async) as breadcrumbs">
  <ol class="breadcrumb-list" *ngIf="breadcrumbs.length > 0">
    <li class="breadcrumb-item">
      <a [routerLink]="['/']" class="breadcrumb-link">
        <svg class="icon-home" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        Inicio
      </a>
    </li>
    
    <li 
      *ngFor="let breadcrumb of breadcrumbs; let last = last" 
      class="breadcrumb-item"
      [class.breadcrumb-item--active]="last"
    >
      <span class="breadcrumb-separator" aria-hidden="true">›</span>
      
      <a 
        *ngIf="!last" 
        [routerLink]="[breadcrumb.url]" 
        class="breadcrumb-link"
      >
        {{ breadcrumb.label }}
      </a>
      
      <span *ngIf="last" class="breadcrumb-current" aria-current="page">
        {{ breadcrumb.label }}
      </span>
    </li>
  </ol>
</nav>
