<div class="sibling-receiver">
  <h3 class="sibling-receiver__title">Receiver Component</h3>
  <p class="sibling-receiver__description">
    Receives messages from the sender component in real time
  </p>
  
  @if (receivedMessages.length === 0) {
    <p class="sibling-receiver__empty">
      Waiting for messages...
    </p>
  } @else {
    <div class="sibling-receiver__messages">
      <h4 class="sibling-receiver__messages-title">
        Latest messages received:
      </h4>
      <ul class="sibling-receiver__list">
        @for (message of receivedMessages; track $index) {
          <li class="sibling-receiver__message">
            {{ message }}
          </li>
        }
      </ul>
    </div>
  }
</div>
