<div class="register-form">
  <div class="register-form__header">
    <h2 class="register-form__title">Create an account</h2>
    <app-close-button (closeClick)="onClose()" />
  </div>

  <form 
    class="register-form__form" 
    method="post" 
    (submit)="onSubmit($event)"
    novalidate
  >
    <fieldset class="register-form__fieldset">
      <legend class="register-form__legend">Account information</legend>
      
      <div class="register-form__field">
        <app-form-input
          inputId="register-username"
          type="text"
          name="username"
          label="Username"
          placeholder="Username"
          [required]="true"
          helpText="Choose a unique username"
        />
      </div>

      <div class="register-form__field">
        <app-form-input
          inputId="register-email"
          type="email"
          name="email"
          label="Email"
          placeholder="Email"
          [required]="true"
          pattern=".+@.+"
          helpText="Enter your email address (must contain @)"
        />
      </div>
    </fieldset>

    <fieldset class="register-form__fieldset">
      <legend class="register-form__legend">Security</legend>
      
      <div class="register-form__field">
        <app-form-input
          inputId="register-password"
          type="password"
          name="password"
          label="Password"
          placeholder="Password"
          [required]="true"
          helpText="Minimum 8 characters"
        />
      </div>

      <div class="register-form__field">
        <app-form-input
          inputId="register-confirm-password"
          type="password"
          name="confirmPassword"
          label="Confirm Password"
          placeholder="Confirm password"
          [required]="true"
          helpText="Repeat your password"
        />
      </div>

      <div class="register-form__submit">
        <app-button 
          type="submit" 
          text="Create account" 
          variant="primary"
          [fullWidth]="true"
        />
      </div>
    </fieldset>
  </form>
</div>
