@import '../../../../styles/01-tools/mixins';

.watch-later {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-3);
  cursor: pointer;
  padding: var(--spacing-3) var(--spacing-4);
  border-radius: 0.75rem;
  @include transition(background-color);
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    
    .watch-later__icon {
      fill: hsl(0, 0%, 100%);
    }
    
    .watch-later__text {
      color: hsl(0, 0%, 100%);
    }
  }
  
  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: hsl(286, 26%, 22%);
    @include transition(fill);
  }
  
  &__text {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 500;
    color: hsl(286, 26%, 22%);
    @include transition(color);
  }
}
